body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 2em 0;
}

header h1 {
    margin: 0;
}

.about-me,
.projects,
.contact {
    padding: 2em 0;
}

.projects .project {
    margin-bottom: 1em;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.project h3 a,
.projects .project h3 a {
    color: blue;
}

.mypic{
    width: 120px;
    height: 120px;
}