body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.mypic{
    width: 100%;
    max-width: 15em;
    max-height: 20em
}


.container {
    max-width: 1300px;
    margin: 0 auto;

}

.about-pic{

    display: flex;
}

header h1 {
    margin: 0;
}
.demo-gifs {
    height: auto;
    max-width: 40em;
    max-height: 50em;
    
}
.about-me,
.projects,
.contact,
.other-work{
    padding: 1em 0;
}

.project h3 a,
.projects .project h3 a 
{
    color: blue;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 2em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    bottom: 0;
    width: 100%;
}

.contact-link{
    color: white;
}

